h2 {
    font-size: 40px;
    font-family:monospace;
}
div {
    width: 400px;
    margin: 0px auto;
}
h3 {
    font-size: 20px;
    font-family: monospace
}

h4 {
    font-size: 50px;
    font-family: monospace
}

h5 {
     
    font-size: 50px;
    font-family: monospace
}

h7 {
    
    font-size: 1000px ;
    font-family: monospace
}